.notificationBarContainer {
  background-color: #e6f1e6;
  color: var(--color-primary);
  font-weight: 700;
  font-size: 12px;
  text-decoration: underline;
}
.infoCardContainer--info-card-home {
  max-width: 1520px;
  margin: 0 auto;
  background-color: #e6f1e6;
  padding: 0px;
}
.newsletter {
  background-color: var(--color-primary);
  height: 144px;
}
:global(.vtex-flex-layout-0-x-flexRow--payment-methods) .container {
  border-top: 1px solid #222c44;
  border-bottom: 1px solid #222c44;
  padding-bottom: 2.5rem;
  padding-top: 2.5rem;
}
.container {
  max-width: var(--container-max-width);
  margin: 0 auto;
  padding: 0 5px;
}

/* Pdp */
:global(.vtex-flex-layout-0-x-flexRow--product-brand-container) .productBrandName--pdp-product-brand {
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.015em;
  margin-bottom: 12px;
  display: block;
}

.shippingTableCell {
  padding-bottom: 16px;
}
:global(.vtex-flex-layout-0-x-flexRow--pdp-product-name-container) .productBrand--pdp-product-name-content {
  color: #4d4a48;
  font-weight: 800;
  line-height: 48px;
  font-size: 32px;
}
:global(.vtex-flex-layout-0-x-flexColChild--product-info-content) .shippingContainer :global(.vtex-button) {
  color: #ffffff;
  font-weight: 700;
}
:global(.vtex-flex-layout-0-x-flexRow--pdp-wish-and-share-content) .shareLabel {
  font-size: 0;
  margin-bottom: 4px;
}
:global(.vtex-flex-layout-0-x-flexRow--pdp-wish-and-share-content) .shareLabel::before {
  content: '';
  background-image: url("data:image/svg+xml,%3Csvg width='23' height='23' viewBox='0 0 23 23' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0)'%3E%3Cpath d='M18.4326 7.18753C16.4518 7.18753 14.8389 5.57561 14.8389 3.59378C14.8389 1.61195 16.4518 3.05176e-05 18.4326 3.05176e-05C20.4136 3.05176e-05 22.0264 1.61195 22.0264 3.59378C22.0264 5.57561 20.4136 7.18753 18.4326 7.18753ZM18.4326 1.43753C17.2443 1.43753 16.2764 2.4044 16.2764 3.59378C16.2764 4.78316 17.2443 5.75003 18.4326 5.75003C19.6209 5.75003 20.5889 4.78316 20.5889 3.59378C20.5889 2.4044 19.6209 1.43753 18.4326 1.43753Z' fill='%2306623A'/%3E%3Cpath d='M18.4326 23C16.4518 23 14.8389 21.3881 14.8389 19.4063C14.8389 17.4245 16.4518 15.8125 18.4326 15.8125C20.4136 15.8125 22.0264 17.4245 22.0264 19.4063C22.0264 21.3881 20.4136 23 18.4326 23ZM18.4326 17.25C17.2443 17.25 16.2764 18.2169 16.2764 19.4063C16.2764 20.5957 17.2443 21.5625 18.4326 21.5625C19.6209 21.5625 20.5889 20.5957 20.5889 19.4063C20.5889 18.2169 19.6209 17.25 18.4326 17.25Z' fill='%2306623A'/%3E%3Cpath d='M4.53711 15.0938C2.55616 15.0938 0.943359 13.4819 0.943359 11.5C0.943359 9.5182 2.55616 7.90628 4.53711 7.90628C6.51806 7.90628 8.13086 9.5182 8.13086 11.5C8.13086 13.4819 6.51806 15.0938 4.53711 15.0938ZM4.53711 9.34378C3.34879 9.34378 2.38086 10.3107 2.38086 11.5C2.38086 12.6894 3.34879 13.6563 4.53711 13.6563C5.72543 13.6563 6.69336 12.6894 6.69336 11.5C6.69336 10.3107 5.72543 9.34378 4.53711 9.34378Z' fill='%2306623A'/%3E%3Cpath d='M7.03968 10.8004C6.78945 10.8004 6.54607 10.67 6.41481 10.4382C6.21828 10.0932 6.33813 9.65421 6.68311 9.45785L15.5755 4.38817C15.9195 4.18988 16.3594 4.31061 16.5549 4.65665C16.7514 5.00164 16.6316 5.4405 16.2866 5.63703L7.39414 10.7065C7.28201 10.7697 7.16041 10.8004 7.03968 10.8004Z' fill='%2306623A'/%3E%3Cpath d='M15.9311 18.7066C15.8103 18.7066 15.6886 18.6759 15.5764 18.6119L6.68401 13.5422C6.33903 13.3458 6.21935 12.9068 6.41571 12.5618C6.61119 12.216 7.05023 12.0961 7.39522 12.2935L16.2875 17.363C16.6325 17.5596 16.7523 17.9984 16.5559 18.3434C16.4236 18.5763 16.1803 18.7066 15.9311 18.7066Z' fill='%2306623A'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0'%3E%3Crect width='23' height='23' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  width: 23px;
  height: 23px;
  display: flex;
  justify-content: center;
  align-items: center;
}
:global(.vtex-flex-layout-0-x-flexCol--product-images-container) .productImagesContainer {
  max-width: 504px;
}
:global(.vtex-flex-layout-0-x-flexCol--product-images-container) .productImagesContainer .productImagesGallerySlide {
  width: 490px !important;
}
:global(.vtex-flex-layout-0-x-flexCol--product-images-container) .productImagesContainer .carouselGaleryThumbs {
  width: 104px;
}
:global(.vtex-flex-layout-0-x-flexCol--product-images-container)
  .carouselContainer--pdp-images
  .productImagesThumb--pdp-images {
  max-width: 88px;
}
:global(.vtex-flex-layout-0-x-flexCol--product-images-container) .productImage--pdp-images::after {
  content: 'Imagem meramente ilustrativa';
  font-size: 12px;
  color: #807c78;
  display: flex;
  justify-content: center;
  line-height: 16px;
  font-weight: 400;
  letter-spacing: 0.015em;
}
:global(.vtex-flex-layout-0-x-flexColChild--product-info-content) .imageElement--static-img {
  padding: 20px 0 30px 0;
}
.imageElement--logo-footer {
  max-width: 38px;
  max-height: 32px;
}
.imageElement--caixa-image {
  background: #fff;
  width: 32px;
  height: 24px;
}
.imageElement--acct-logo-footer {
  max-width: 58px;
  max-height: 20px;
  margin-right: 12px;
}
.newsletter .container {
  padding: 60px 10px;
}
.label {
  color: #fff;
  font-size: 26px;
}
.inputGroup {
  padding-bottom: 4px;
  display: flex;
  color: #fff;
}
.inputGroup :global(.vtex-styleguide-9-x-hideDecorators) {
  background-color: transparent;
  color: #fff;
  border: none;
}
.inputGroup :global(.vtex-styleguide-9-x-hideDecorators)::placeholder {
  color: #fff;
  font-size: 16px;
}
.inputGroup :global(.vtex-button) {
  background-color: transparent;
  color: #fff;
  border: none;
  margin-right: -24px;
}
.buttonContainer {
  padding-top: 0px;
}
.imageElement--storePrint {
  max-height: 300px;
  margin-bottom: 20px;
}
.skuSelectorContainer {
  margin: 1rem 0;
}
.autoCompleteOuterContainer--search-bar-header {
  width: 100%;
}
.autoCompleteOuterContainer--search-bar-header :global(.vtex-input-prefix__group) {
  box-sizing: border-box;
  height: 48px;
  background: #ffffff;
  border: 1px solid #ccced8;
  border-radius: 6px;
}
.autoCompleteOuterContainer--search-bar-header :global(.vtex-input-prefix__group):hover,
.autoCompleteOuterContainer--search-bar-header :global(.vtex-input-prefix__group):active {
  background: #fff;
  border: 1px solid #142032;
}
.autoCompleteOuterContainer--search-bar-header :global(.vtex-input-prefix__group) :global(.vtex-styleguide-9-x-input) {
  background: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #36403b;
  margin-left: 0;
  border: none;
}
.autoCompleteOuterContainer--search-bar-header :global(.vtex-input-prefix__group):hover :global(.vtex-input__suffix) {
  background-color: #fff;
}
.autoCompleteOuterContainer--search-bar-header :global(.vtex-input-prefix__group) :global(.vtex-input__suffix) {
  background-color: #ffffff;
}
.autoCompleteOuterContainer--search-bar-header :global(.vtex-input__suffix) {
  padding: 0px;
  background: none;
}
.suffixWrapper--search-bar-header .searchBarIcon--search-bar-header {
  padding: 0 1rem;
  background-color: #142032;
  border-radius: 6px 0 0 6px;
  color: #fff;
  font-weight: 100;
}
.suffixWrapper--search-bar-header .searchBarIcon--search-bar-header--clear {
  background-color: #fff;
  color: #000;
}
.logoLink .sizeDesktop,
.logoLink .sizeMobile {
  padding: 0;
}
@media (min-width: 64rem) {
  .logoImage {
    min-width: 185px;
  }
}
.productImagesContainer--quickview .carouselContainer {
  justify-content: flex-start;
}
.productImagesContainer--quickview .productImageTag {
  object-fit: cover !important;
}
.productImagesContainer--quickview .carouselGaleryThumbs {
  display: none;
}
.productImagesContainer--quickview .carouselGaleryCursor {
  margin: 0;
  padding: 0;
  width: 100%;
}
.productNameContainer {
  color: #3f3f40;
  font-weight: bold;
  font-size: 30px;
}

:global(.vtex-seller-selector-0-x-linkSellerContainer) {
  margin-right: 1rem;
}

:global(.vtex-seller-selector-0-x-linkSeller) {
  color: var(--color-primary);
  text-decoration: none;
}

:global(.vtex-rich-text-0-x-heading--pdp-shipping-text) {
  margin: 0;
}

:global(.vtex-flex-layout-0-x-flexColChild--product-info-content) .shippingContainer {
  display: flex;
  width: 100%;
  max-width: 485px;
}

:global(.vtex-flex-layout-0-x-flexColChild--product-info-content) .shippingContainer :global(.vtex-input__label) {
  display: none;
  width: 100%;
}

:global(.vtex-flex-layout-0-x-flexColChild--product-info-content) .shippingContainer :global(.vtex-button) {
  width: 100%;
  max-width: 200px;
  height: 40px;
  font-size: 14px;
  background-color: #142032;
  border: 1px solid #142032;
  margin-left: 32px;
}

:global(.vtex-flex-layout-0-x-flexColChild--product-info-content)
  .shippingContainer
  :global(.vtex-address-form__postalCode) {
  width: 100%;
}

:global(.vtex-flex-layout-0-x-flexColChild--product-info-content)
  .shippingContainer
  :global(.vtex-address-form-4-x-input) {
  width: 100%;
}

@media (min-width: 64rem) {
  :global(.vtex-flex-layout-0-x-flexColChild--product-info-content) :global(.vtex-disclosure-layout-1-x-trigger) {
    width: 445px;
  }
}

@media (max-width: calc(64rem - 1px)) {
  :global(.vtex-flex-layout-0-x-flexColChild--product-info-content)
    .shippingContainer
    :global(.vtex-address-form-4-x-input) {
    width: 85%;
  }

  :global(.vtex-flex-layout-0-x-flexColChild--product-info-content) :global(.vtex-disclosure-layout-1-x-trigger) {
    max-width: 445px;
  }

  :global(.vtex-flex-layout-0-x-flexColChild--product-info-content)
    :global(.vtex-rich-text-0-x-container--pdp-pickup-button-text) {
    padding: 0 !important;
    text-align: center;
  }

  :global(.vtex-flex-layout-0-x-flexColChild--product-info-content)
    :global(.vtex-rich-text-0-x-paragraph--pdp-pickup-button-text) {
    margin: 0;
  }
}

@media (max-width: 640px) {
  :global(.vtex-flex-layout-0-x-flexColChild--product-info-content)
    :global(.vtex-rich-text-0-x-container--pdp-pickup-button-text) {
    padding: 0 8px !important;
    text-align: center;
  }
}

:global(.vtex-flex-layout-0-x-flexColChild--product-info-content) :global(.vtex-disclosure-layout-1-x-trigger) {
  border: none;
  justify-content: space-between;
  height: 70px;
  padding-left: 0;
  cursor: pointer;
}

:global(.vtex-flex-layout-0-x-flexColChild--product-info-content)
  :global(.vtex-rich-text-0-x-container--pdp-pickup-button-text) {
  background-color: #142032;
  border-radius: 6px;
  padding: 0 26px;
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
}

:global(.vtex-flex-layout-0-x-flexColChild--product-info-content) :global(.vtex-rich-text-0-x-heading--pdp-pickup-text),
:global(.vtex-flex-layout-0-x-flexColChild--product-info-content)
  :global(.vtex-rich-text-0-x-heading--pdp-shipping-text) {
  font-weight: bold;
  font-size: 16px;
}

:global(.vtex-flex-layout-0-x-flexColChild--product-info-content) :global(.vtex-disclosure-layout-1-x-content) {
  border: none;
  padding: 0;
}

:global(.vtex-flex-layout-0-x-flexColChild--product-info-content) :global(.vtex-disclosure-layout-1-x-content--hidden) {
  display: none;
}

:global(.vtex-flex-layout-0-x-flexColChild--product-info-content)
  :global(.vtex-location-availability-0-x-availabilityHeader) {
  font-size: 20px;
}

:global(.vtex-flex-layout-0-x-flexColChild--product-info-content)
  :global(.vtex-rich-text-0-x-heading--pdp-delivery-text) {
  margin: 10px 0 0 0;
}

@media (max-width: calc(64rem - 1px)) {
  :global(.vtex-flex-layout-0-x-flexRow--shelf-title) .container {
    padding: 0 20px;
  }

  :global(.vtex-flex-layout-0-x-flexRow--home-shelf-2) .container {
    padding: 0 20px;
  }
}

@media only screen and (min-width: 640px) {
  .newsletter .container {
    padding: 140px;
  }
}
:global(.vtex-flex-layout-0-x-flexRowContent--payments-flags) .imageElement {
  margin: 0 8px;
}
/*discountbadge*/
.discountContainer {
  width: 100%;
}
.discountInsideContainer {
  top: 0;
  left: 0;
  bottom: unset;
  right: unset;
  background: rgba(0, 48, 135, 0.2);
  border-radius: 4px;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.015em;
  color: var(--color-primary);
  margin-left: 5px;
}
.searchBarContainer {
  max-width: unset !important;
}
:global(.vtex-flex-layout-0-x-flexRowContent--search-byggy) .discountInsideContainer {
  display: none;
}
@media only screen and (min-width: 640px) {
  .newsletter .container {
    padding: 140px;
  }
  :global(.vtex-flex-layout-0-x-flexRowContent--payments-flags) .imageElement {
    margin: 0 8px;
  }
  .label {
    font-size: 40px;
  }
  .infoCardContainer--info-card-home .infoCardTextContainer {
    width: 30%;
  }
  .infoCardContainer--info-card-home .infoCardImageContainer {
    width: 70%;
  }
  .imageElement--storePrint {
    margin-bottom: 0px;
    max-height: 600px;
  }
}
.logoContainer::before {
  content: '';
  display: inline-block;
  width: 185px;
  height: 41px;
  -webkit-mask: url("data:image/svg+xml,%3Csvg width='185' height='41' viewBox='0 0 210 41' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M140.328 10.7783V13.3477H130.968V19.2512H139.013V21.8206H130.968V28.0912H140.328V30.6606H128.093V10.7783H140.328Z' fill='currentColor'/%3E%3Cpath d='M147.355 26.103C147.355 27.0614 147.589 27.6936 148.058 27.9994C148.548 28.2849 149.19 28.3563 149.986 28.2136H150.444V30.5994C150.24 30.6402 149.945 30.6708 149.557 30.6912C149.19 30.732 148.864 30.7524 148.578 30.7524C147.253 30.7524 146.254 30.3853 145.581 29.6512C144.908 28.8967 144.571 27.8363 144.571 26.47V9.24886H147.355V26.103Z' fill='currentColor'/%3E%3Cpath d='M166.481 26.3783C166.114 27.9077 165.339 29.0904 164.156 29.9265C162.974 30.7422 161.536 31.15 159.843 31.15C158.783 31.15 157.804 30.9665 156.907 30.5994C156.01 30.212 155.235 29.6716 154.582 28.9783C153.93 28.2849 153.42 27.4489 153.053 26.47C152.686 25.4912 152.502 24.4104 152.502 23.2277V22.7994C152.502 21.6167 152.675 20.5461 153.022 19.5877C153.389 18.6089 153.889 17.7728 154.521 17.0794C155.153 16.3861 155.918 15.8559 156.815 15.4889C157.712 15.1014 158.691 14.9077 159.752 14.9077C160.894 14.9077 161.893 15.1116 162.749 15.5194C163.626 15.9273 164.36 16.4881 164.952 17.2018C165.543 17.9155 165.981 18.7516 166.267 19.71C166.573 20.6481 166.726 21.6575 166.726 22.7383C166.726 22.9626 166.726 23.1563 166.726 23.3194C166.726 23.4622 166.716 23.6457 166.695 23.87H155.347C155.469 25.2771 155.908 26.4496 156.662 27.3877C157.417 28.3053 158.497 28.7641 159.905 28.7641C160.904 28.7641 161.709 28.5602 162.321 28.1524C162.953 27.7445 163.422 27.1532 163.728 26.3783H166.481ZM163.881 21.5759C163.84 21.0457 163.728 20.5257 163.545 20.0159C163.381 19.5061 163.137 19.0473 162.81 18.6394C162.484 18.2316 162.076 17.9053 161.587 17.6606C161.098 17.3955 160.516 17.263 159.843 17.263C158.497 17.263 157.468 17.6606 156.754 18.4559C156.061 19.2512 155.612 20.2912 155.408 21.5759H163.881Z' fill='currentColor'/%3E%3Cpath d='M178.068 15.3665V17.63H173.816V26.2253C173.816 27.143 174.03 27.7649 174.459 28.0912C174.887 28.3971 175.387 28.55 175.958 28.55C176.794 28.55 177.528 28.3155 178.16 27.8465H178.649V30.2018C178.282 30.4057 177.813 30.579 177.242 30.7218C176.692 30.8645 176.182 30.9359 175.713 30.9359C174.061 30.9359 172.858 30.5179 172.103 29.6818C171.369 28.8457 171.002 27.7241 171.002 26.3171V17.63H168.8V16.2841C169.391 16.0802 169.891 15.8151 170.299 15.4889C170.707 15.1626 171.043 14.8057 171.308 14.4183C171.594 14.0308 171.818 13.623 171.981 13.1947C172.165 12.7461 172.307 12.3179 172.409 11.91H173.816V15.3665H178.068Z' fill='currentColor'/%3E%3Cpath d='M184.847 30.6606H182.064V15.3665H183.93L184.633 18.0583H184.694C185 17.1406 185.581 16.4473 186.438 15.9783C187.294 15.4889 188.212 15.2441 189.191 15.2441C189.293 15.2441 189.446 15.2543 189.65 15.2747C189.874 15.2747 190.037 15.2849 190.139 15.3053V18.0583H189.283C188.263 18.0583 187.458 18.2112 186.866 18.5171C186.275 18.8026 185.826 19.19 185.52 19.6794C185.235 20.1689 185.051 20.7398 184.97 21.3924C184.888 22.0245 184.847 22.6873 184.847 23.3806V30.6606Z' fill='currentColor'/%3E%3Cpath d='M192.231 22.7689C192.231 21.5045 192.435 20.383 192.843 19.4041C193.251 18.4253 193.802 17.6096 194.495 16.9571C195.188 16.2841 195.994 15.7743 196.911 15.4277C197.829 15.081 198.808 14.9077 199.848 14.9077C200.888 14.9077 201.867 15.081 202.784 15.4277C203.722 15.7743 204.538 16.2841 205.231 16.9571C205.925 17.6096 206.465 18.4253 206.853 19.4041C207.26 20.383 207.464 21.5045 207.464 22.7689V23.2889C207.464 24.5328 207.26 25.6441 206.853 26.623C206.445 27.6018 205.894 28.4277 205.201 29.1006C204.528 29.7736 203.722 30.2834 202.784 30.63C201.867 30.9767 200.888 31.15 199.848 31.15C198.808 31.15 197.819 30.9767 196.881 30.63C195.963 30.2834 195.158 29.7736 194.464 29.1006C193.791 28.4277 193.251 27.6018 192.843 26.623C192.435 25.6441 192.231 24.5328 192.231 23.2889V22.7689ZM195.045 23.0136C195.045 23.8089 195.137 24.5634 195.321 25.2771C195.525 25.9704 195.82 26.5822 196.208 27.1124C196.616 27.6222 197.115 28.03 197.707 28.3359C198.318 28.6214 199.032 28.7641 199.848 28.7641C200.664 28.7641 201.367 28.6214 201.958 28.3359C202.57 28.03 203.07 27.6222 203.457 27.1124C203.865 26.5822 204.161 25.9704 204.344 25.2771C204.548 24.5634 204.65 23.8089 204.65 23.0136C204.65 22.1979 204.548 21.4434 204.344 20.75C204.161 20.0567 203.865 19.4551 203.457 18.9453C203.07 18.4151 202.57 18.0073 201.958 17.7218C201.367 17.4159 200.664 17.263 199.848 17.263C199.032 17.263 198.318 17.4159 197.707 17.7218C197.115 18.0073 196.616 18.4151 196.208 18.9453C195.82 19.4551 195.525 20.0567 195.321 20.75C195.137 21.4434 195.045 22.1979 195.045 23.0136Z' fill='currentColor'/%3E%3Cpath d='M85.5064 14.1864H80.6934V30.6816C80.6931 30.8319 80.6332 30.976 80.527 31.0823C80.4207 31.1885 80.2766 31.2484 80.1263 31.2487H76.4145C76.2642 31.2484 76.1202 31.1885 76.0139 31.0823C75.9076 30.976 75.8478 30.8319 75.8475 30.6816V14.1864H71.0063C70.9334 14.1893 70.8606 14.1777 70.7923 14.152C70.724 14.1264 70.6616 14.0872 70.6087 14.037C70.5558 13.9867 70.5135 13.9264 70.4844 13.8595C70.4553 13.7926 70.4399 13.7205 70.4392 13.6475V10.7299C70.4399 10.6569 70.4553 10.5849 70.4844 10.518C70.5135 10.4511 70.5558 10.3907 70.6087 10.3404C70.6616 10.2902 70.724 10.2511 70.7923 10.2254C70.8606 10.1997 70.9334 10.1881 71.0063 10.1911H85.5052C85.6555 10.184 85.8024 10.2367 85.914 10.3377C86.0255 10.4386 86.0926 10.5796 86.1005 10.7299V13.6487C86.0923 13.7985 86.0253 13.939 85.914 14.0397C85.8028 14.1404 85.6563 14.1931 85.5064 14.1864Z' fill='currentColor'/%3E%3Cpath d='M100.957 31.0363C99.9656 31.1774 98.2973 31.4045 95.2373 31.4045C91.582 31.4045 88.3525 30.4692 88.3525 25.3127V15.901C88.3525 10.7445 91.6114 9.83743 95.2655 9.83743C98.3244 9.83743 99.9656 10.0645 100.957 10.2057C101.354 10.2621 101.524 10.4045 101.524 10.7727V13.4116C101.524 13.5618 101.464 13.7059 101.358 13.8122C101.252 13.9185 101.108 13.9783 100.957 13.9786H94.9832C93.6514 13.9786 93.1702 14.4316 93.1702 15.9057V18.4845H100.731C100.882 18.4848 101.026 18.5446 101.132 18.6509C101.238 18.7572 101.298 18.9013 101.299 19.0515V21.7433C101.298 21.8936 101.238 22.0377 101.132 22.1439C101.026 22.2502 100.882 22.3101 100.731 22.3104H93.1702V25.3139C93.1702 26.7868 93.6514 27.241 94.9832 27.241H100.957C101.108 27.2413 101.252 27.3011 101.358 27.4074C101.464 27.5137 101.524 27.6577 101.524 27.808V30.4433C101.524 30.8092 101.354 30.9798 100.957 31.0363Z' fill='currentColor'/%3E%3Cpath d='M122.335 31.245H117.831C117.462 31.245 117.292 31.1273 117.094 30.8203L113.188 24.6191L109.649 30.6838C109.45 31.0238 109.253 31.2508 108.943 31.2508H104.75C104.467 31.2508 104.326 31.0803 104.326 30.8826C104.331 30.8133 104.35 30.7457 104.382 30.6838L110.52 20.4485L104.319 10.7297C104.287 10.6778 104.268 10.6195 104.262 10.5591C104.272 10.455 104.322 10.3587 104.401 10.2902C104.48 10.2217 104.582 10.1861 104.687 10.1908H109.248C109.56 10.1908 109.787 10.4744 109.954 10.7297L113.579 16.4532L117.087 10.7297C117.228 10.4744 117.483 10.1908 117.793 10.1908H121.986C122.09 10.1861 122.193 10.2217 122.272 10.2902C122.351 10.3587 122.4 10.455 122.411 10.5591C122.405 10.6195 122.386 10.6778 122.354 10.7297L116.183 20.5085L122.619 30.6838C122.669 30.7703 122.698 30.8674 122.704 30.9673C122.705 31.132 122.562 31.245 122.335 31.245Z' fill='currentColor'/%3E%3Cpath d='M63.6487 10.0765C63.5476 10.0768 63.4496 10.1121 63.3715 10.1764C63.2934 10.2408 63.2401 10.3302 63.2205 10.4295L59.1075 25.6518C59.051 25.9636 58.9663 26.0765 58.711 26.0765C58.4557 26.0765 58.371 25.9589 58.3146 25.6518L54.1969 10.4259C54.1773 10.3267 54.1239 10.2373 54.0459 10.1729C53.9678 10.1086 53.8698 10.0733 53.7687 10.073H49.7204C49.6546 10.0731 49.5896 10.088 49.5303 10.1166C49.4711 10.1453 49.419 10.187 49.3781 10.2385C49.3371 10.2901 49.3084 10.3502 49.2939 10.4145C49.2794 10.4787 49.2796 10.5453 49.2945 10.6095C49.2945 10.6095 54.3181 28.0671 54.3734 28.2389C55.044 30.3189 56.671 31.313 58.7416 31.313C60.7134 31.313 62.4346 30.2718 63.1075 28.2448C63.1875 28.0095 68.0993 10.6083 68.0993 10.6083C68.114 10.5442 68.1141 10.4777 68.0995 10.4136C68.0849 10.3496 68.0561 10.2896 68.0152 10.2382C67.9743 10.1867 67.9223 10.1452 67.8632 10.1166C67.804 10.088 67.7392 10.0731 67.6735 10.073L63.6487 10.0765Z' fill='currentColor'/%3E%3Cg clip-path='url(%23clip0)'%3E%3Cpath d='M34.6235 30.1906L34.6235 27.528L41.3052 27.528C41.8425 27.528 42.2773 27.108 42.2773 26.5905C42.2773 26.073 41.8425 25.653 41.3052 25.653L34.6235 25.653L34.6235 15.6692L41.3052 15.6692C41.8425 15.6692 42.2773 15.2499 42.2773 14.7317C42.2773 14.2136 41.8425 13.7942 41.3052 13.7942L34.6235 13.7942L34.6235 11.367C34.6235 10.0729 33.8826 9.77174 33.059 9.77174L30.3837 9.77174C29.5296 9.83763 29.8237 9.90774 29.8237 10.4259L30.3837 9.77174L20.1504 11.223C17.0107 11.8172 13.6748 14.0242 13.6748 17.468L13.6748 19.7236L2.34885 19.7236C1.81223 19.7236 1.37672 20.143 1.37672 20.6611C1.37672 21.1792 1.81223 21.5986 2.34885 21.5986L13.6748 21.5986L13.6748 23.8536C13.6748 27.2974 16.5482 29.6755 20.1504 30.0986L30.3837 31.5499L29.4116 30.6124C29.4116 31.1299 29.8464 31.5499 30.3837 31.5499L33.1767 31.5499C34.2355 31.5499 34.6235 31.1317 34.6235 30.1906ZM32.6473 11.72C32.6792 11.7609 32.6792 11.8376 32.6792 11.8376L32.6792 29.6755L31.3558 29.6755L31.3558 11.6467L32.4708 11.6467C32.4708 11.6467 32.6153 11.679 32.6473 11.72ZM20.1504 28.2242C17.1842 27.771 15.619 26.2636 15.619 23.8542L15.619 17.4686C15.619 15.0592 17.4707 13.3082 20.1504 13.0986L29.4116 11.6467L29.4116 29.5051L20.1504 28.2242Z' fill='currentColor'/%3E%3Cpath d='M27.4617 26.4944L27.4617 14.8277C27.4617 14.3669 27.0645 13.9944 26.5732 13.9944C26.0819 13.9944 25.6847 14.3669 25.6847 14.8277L25.6847 26.4944C25.6847 26.9552 26.0819 27.3277 26.5732 27.3277C27.0645 27.3277 27.4617 26.9552 27.4617 26.4944Z' fill='currentColor'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0'%3E%3Crect width='40' height='41.1654' fill='white' transform='translate(42.5657 0.660858) rotate(90)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A") no-repeat 50% 50%;
  mask: url("data:image/svg+xml,%3Csvg width='185' height='41' viewBox='0 0 210 41' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M140.328 10.7783V13.3477H130.968V19.2512H139.013V21.8206H130.968V28.0912H140.328V30.6606H128.093V10.7783H140.328Z' fill='currentColor'/%3E%3Cpath d='M147.355 26.103C147.355 27.0614 147.589 27.6936 148.058 27.9994C148.548 28.2849 149.19 28.3563 149.986 28.2136H150.444V30.5994C150.24 30.6402 149.945 30.6708 149.557 30.6912C149.19 30.732 148.864 30.7524 148.578 30.7524C147.253 30.7524 146.254 30.3853 145.581 29.6512C144.908 28.8967 144.571 27.8363 144.571 26.47V9.24886H147.355V26.103Z' fill='currentColor'/%3E%3Cpath d='M166.481 26.3783C166.114 27.9077 165.339 29.0904 164.156 29.9265C162.974 30.7422 161.536 31.15 159.843 31.15C158.783 31.15 157.804 30.9665 156.907 30.5994C156.01 30.212 155.235 29.6716 154.582 28.9783C153.93 28.2849 153.42 27.4489 153.053 26.47C152.686 25.4912 152.502 24.4104 152.502 23.2277V22.7994C152.502 21.6167 152.675 20.5461 153.022 19.5877C153.389 18.6089 153.889 17.7728 154.521 17.0794C155.153 16.3861 155.918 15.8559 156.815 15.4889C157.712 15.1014 158.691 14.9077 159.752 14.9077C160.894 14.9077 161.893 15.1116 162.749 15.5194C163.626 15.9273 164.36 16.4881 164.952 17.2018C165.543 17.9155 165.981 18.7516 166.267 19.71C166.573 20.6481 166.726 21.6575 166.726 22.7383C166.726 22.9626 166.726 23.1563 166.726 23.3194C166.726 23.4622 166.716 23.6457 166.695 23.87H155.347C155.469 25.2771 155.908 26.4496 156.662 27.3877C157.417 28.3053 158.497 28.7641 159.905 28.7641C160.904 28.7641 161.709 28.5602 162.321 28.1524C162.953 27.7445 163.422 27.1532 163.728 26.3783H166.481ZM163.881 21.5759C163.84 21.0457 163.728 20.5257 163.545 20.0159C163.381 19.5061 163.137 19.0473 162.81 18.6394C162.484 18.2316 162.076 17.9053 161.587 17.6606C161.098 17.3955 160.516 17.263 159.843 17.263C158.497 17.263 157.468 17.6606 156.754 18.4559C156.061 19.2512 155.612 20.2912 155.408 21.5759H163.881Z' fill='currentColor'/%3E%3Cpath d='M178.068 15.3665V17.63H173.816V26.2253C173.816 27.143 174.03 27.7649 174.459 28.0912C174.887 28.3971 175.387 28.55 175.958 28.55C176.794 28.55 177.528 28.3155 178.16 27.8465H178.649V30.2018C178.282 30.4057 177.813 30.579 177.242 30.7218C176.692 30.8645 176.182 30.9359 175.713 30.9359C174.061 30.9359 172.858 30.5179 172.103 29.6818C171.369 28.8457 171.002 27.7241 171.002 26.3171V17.63H168.8V16.2841C169.391 16.0802 169.891 15.8151 170.299 15.4889C170.707 15.1626 171.043 14.8057 171.308 14.4183C171.594 14.0308 171.818 13.623 171.981 13.1947C172.165 12.7461 172.307 12.3179 172.409 11.91H173.816V15.3665H178.068Z' fill='currentColor'/%3E%3Cpath d='M184.847 30.6606H182.064V15.3665H183.93L184.633 18.0583H184.694C185 17.1406 185.581 16.4473 186.438 15.9783C187.294 15.4889 188.212 15.2441 189.191 15.2441C189.293 15.2441 189.446 15.2543 189.65 15.2747C189.874 15.2747 190.037 15.2849 190.139 15.3053V18.0583H189.283C188.263 18.0583 187.458 18.2112 186.866 18.5171C186.275 18.8026 185.826 19.19 185.52 19.6794C185.235 20.1689 185.051 20.7398 184.97 21.3924C184.888 22.0245 184.847 22.6873 184.847 23.3806V30.6606Z' fill='currentColor'/%3E%3Cpath d='M192.231 22.7689C192.231 21.5045 192.435 20.383 192.843 19.4041C193.251 18.4253 193.802 17.6096 194.495 16.9571C195.188 16.2841 195.994 15.7743 196.911 15.4277C197.829 15.081 198.808 14.9077 199.848 14.9077C200.888 14.9077 201.867 15.081 202.784 15.4277C203.722 15.7743 204.538 16.2841 205.231 16.9571C205.925 17.6096 206.465 18.4253 206.853 19.4041C207.26 20.383 207.464 21.5045 207.464 22.7689V23.2889C207.464 24.5328 207.26 25.6441 206.853 26.623C206.445 27.6018 205.894 28.4277 205.201 29.1006C204.528 29.7736 203.722 30.2834 202.784 30.63C201.867 30.9767 200.888 31.15 199.848 31.15C198.808 31.15 197.819 30.9767 196.881 30.63C195.963 30.2834 195.158 29.7736 194.464 29.1006C193.791 28.4277 193.251 27.6018 192.843 26.623C192.435 25.6441 192.231 24.5328 192.231 23.2889V22.7689ZM195.045 23.0136C195.045 23.8089 195.137 24.5634 195.321 25.2771C195.525 25.9704 195.82 26.5822 196.208 27.1124C196.616 27.6222 197.115 28.03 197.707 28.3359C198.318 28.6214 199.032 28.7641 199.848 28.7641C200.664 28.7641 201.367 28.6214 201.958 28.3359C202.57 28.03 203.07 27.6222 203.457 27.1124C203.865 26.5822 204.161 25.9704 204.344 25.2771C204.548 24.5634 204.65 23.8089 204.65 23.0136C204.65 22.1979 204.548 21.4434 204.344 20.75C204.161 20.0567 203.865 19.4551 203.457 18.9453C203.07 18.4151 202.57 18.0073 201.958 17.7218C201.367 17.4159 200.664 17.263 199.848 17.263C199.032 17.263 198.318 17.4159 197.707 17.7218C197.115 18.0073 196.616 18.4151 196.208 18.9453C195.82 19.4551 195.525 20.0567 195.321 20.75C195.137 21.4434 195.045 22.1979 195.045 23.0136Z' fill='currentColor'/%3E%3Cpath d='M85.5064 14.1864H80.6934V30.6816C80.6931 30.8319 80.6332 30.976 80.527 31.0823C80.4207 31.1885 80.2766 31.2484 80.1263 31.2487H76.4145C76.2642 31.2484 76.1202 31.1885 76.0139 31.0823C75.9076 30.976 75.8478 30.8319 75.8475 30.6816V14.1864H71.0063C70.9334 14.1893 70.8606 14.1777 70.7923 14.152C70.724 14.1264 70.6616 14.0872 70.6087 14.037C70.5558 13.9867 70.5135 13.9264 70.4844 13.8595C70.4553 13.7926 70.4399 13.7205 70.4392 13.6475V10.7299C70.4399 10.6569 70.4553 10.5849 70.4844 10.518C70.5135 10.4511 70.5558 10.3907 70.6087 10.3404C70.6616 10.2902 70.724 10.2511 70.7923 10.2254C70.8606 10.1997 70.9334 10.1881 71.0063 10.1911H85.5052C85.6555 10.184 85.8024 10.2367 85.914 10.3377C86.0255 10.4386 86.0926 10.5796 86.1005 10.7299V13.6487C86.0923 13.7985 86.0253 13.939 85.914 14.0397C85.8028 14.1404 85.6563 14.1931 85.5064 14.1864Z' fill='currentColor'/%3E%3Cpath d='M100.957 31.0363C99.9656 31.1774 98.2973 31.4045 95.2373 31.4045C91.582 31.4045 88.3525 30.4692 88.3525 25.3127V15.901C88.3525 10.7445 91.6114 9.83743 95.2655 9.83743C98.3244 9.83743 99.9656 10.0645 100.957 10.2057C101.354 10.2621 101.524 10.4045 101.524 10.7727V13.4116C101.524 13.5618 101.464 13.7059 101.358 13.8122C101.252 13.9185 101.108 13.9783 100.957 13.9786H94.9832C93.6514 13.9786 93.1702 14.4316 93.1702 15.9057V18.4845H100.731C100.882 18.4848 101.026 18.5446 101.132 18.6509C101.238 18.7572 101.298 18.9013 101.299 19.0515V21.7433C101.298 21.8936 101.238 22.0377 101.132 22.1439C101.026 22.2502 100.882 22.3101 100.731 22.3104H93.1702V25.3139C93.1702 26.7868 93.6514 27.241 94.9832 27.241H100.957C101.108 27.2413 101.252 27.3011 101.358 27.4074C101.464 27.5137 101.524 27.6577 101.524 27.808V30.4433C101.524 30.8092 101.354 30.9798 100.957 31.0363Z' fill='currentColor'/%3E%3Cpath d='M122.335 31.245H117.831C117.462 31.245 117.292 31.1273 117.094 30.8203L113.188 24.6191L109.649 30.6838C109.45 31.0238 109.253 31.2508 108.943 31.2508H104.75C104.467 31.2508 104.326 31.0803 104.326 30.8826C104.331 30.8133 104.35 30.7457 104.382 30.6838L110.52 20.4485L104.319 10.7297C104.287 10.6778 104.268 10.6195 104.262 10.5591C104.272 10.455 104.322 10.3587 104.401 10.2902C104.48 10.2217 104.582 10.1861 104.687 10.1908H109.248C109.56 10.1908 109.787 10.4744 109.954 10.7297L113.579 16.4532L117.087 10.7297C117.228 10.4744 117.483 10.1908 117.793 10.1908H121.986C122.09 10.1861 122.193 10.2217 122.272 10.2902C122.351 10.3587 122.4 10.455 122.411 10.5591C122.405 10.6195 122.386 10.6778 122.354 10.7297L116.183 20.5085L122.619 30.6838C122.669 30.7703 122.698 30.8674 122.704 30.9673C122.705 31.132 122.562 31.245 122.335 31.245Z' fill='currentColor'/%3E%3Cpath d='M63.6487 10.0765C63.5476 10.0768 63.4496 10.1121 63.3715 10.1764C63.2934 10.2408 63.2401 10.3302 63.2205 10.4295L59.1075 25.6518C59.051 25.9636 58.9663 26.0765 58.711 26.0765C58.4557 26.0765 58.371 25.9589 58.3146 25.6518L54.1969 10.4259C54.1773 10.3267 54.1239 10.2373 54.0459 10.1729C53.9678 10.1086 53.8698 10.0733 53.7687 10.073H49.7204C49.6546 10.0731 49.5896 10.088 49.5303 10.1166C49.4711 10.1453 49.419 10.187 49.3781 10.2385C49.3371 10.2901 49.3084 10.3502 49.2939 10.4145C49.2794 10.4787 49.2796 10.5453 49.2945 10.6095C49.2945 10.6095 54.3181 28.0671 54.3734 28.2389C55.044 30.3189 56.671 31.313 58.7416 31.313C60.7134 31.313 62.4346 30.2718 63.1075 28.2448C63.1875 28.0095 68.0993 10.6083 68.0993 10.6083C68.114 10.5442 68.1141 10.4777 68.0995 10.4136C68.0849 10.3496 68.0561 10.2896 68.0152 10.2382C67.9743 10.1867 67.9223 10.1452 67.8632 10.1166C67.804 10.088 67.7392 10.0731 67.6735 10.073L63.6487 10.0765Z' fill='currentColor'/%3E%3Cg clip-path='url(%23clip0)'%3E%3Cpath d='M34.6235 30.1906L34.6235 27.528L41.3052 27.528C41.8425 27.528 42.2773 27.108 42.2773 26.5905C42.2773 26.073 41.8425 25.653 41.3052 25.653L34.6235 25.653L34.6235 15.6692L41.3052 15.6692C41.8425 15.6692 42.2773 15.2499 42.2773 14.7317C42.2773 14.2136 41.8425 13.7942 41.3052 13.7942L34.6235 13.7942L34.6235 11.367C34.6235 10.0729 33.8826 9.77174 33.059 9.77174L30.3837 9.77174C29.5296 9.83763 29.8237 9.90774 29.8237 10.4259L30.3837 9.77174L20.1504 11.223C17.0107 11.8172 13.6748 14.0242 13.6748 17.468L13.6748 19.7236L2.34885 19.7236C1.81223 19.7236 1.37672 20.143 1.37672 20.6611C1.37672 21.1792 1.81223 21.5986 2.34885 21.5986L13.6748 21.5986L13.6748 23.8536C13.6748 27.2974 16.5482 29.6755 20.1504 30.0986L30.3837 31.5499L29.4116 30.6124C29.4116 31.1299 29.8464 31.5499 30.3837 31.5499L33.1767 31.5499C34.2355 31.5499 34.6235 31.1317 34.6235 30.1906ZM32.6473 11.72C32.6792 11.7609 32.6792 11.8376 32.6792 11.8376L32.6792 29.6755L31.3558 29.6755L31.3558 11.6467L32.4708 11.6467C32.4708 11.6467 32.6153 11.679 32.6473 11.72ZM20.1504 28.2242C17.1842 27.771 15.619 26.2636 15.619 23.8542L15.619 17.4686C15.619 15.0592 17.4707 13.3082 20.1504 13.0986L29.4116 11.6467L29.4116 29.5051L20.1504 28.2242Z' fill='currentColor'/%3E%3Cpath d='M27.4617 26.4944L27.4617 14.8277C27.4617 14.3669 27.0645 13.9944 26.5732 13.9944C26.0819 13.9944 25.6847 14.3669 25.6847 14.8277L25.6847 26.4944C25.6847 26.9552 26.0819 27.3277 26.5732 27.3277C27.0645 27.3277 27.4617 26.9552 27.4617 26.4944Z' fill='currentColor'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0'%3E%3Crect width='40' height='41.1654' fill='white' transform='translate(42.5657 0.660858) rotate(90)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A") no-repeat 50% 50%;
  -webkit-mask-size: cover;
  mask-size: cover;
  background-color: var(--color-primary);
}

.logoImage {
  display: none;
}

@media only screen and (max-width: 1067px) {
  .flexRowContent--pdp-main-container {
    justify-content: center;
  }
}
/*breackpoint of container end*/
@media (max-width: calc(64rem - 1px)) {
  .searchBarContainer,
  :global(.vtex-region-selector-2-x-regionSelector) {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
}
@media only screen and (min-width: 640px) {
  .label {
    font-size: 40px;
  }
  .infoCardContainer--info-card-home .infoCardTextContainer {
    width: 30%;
  }
  .infoCardContainer--info-card-home .infoCardImageContainer {
    width: 70%;
  }
  .imageElement--storePrint {
    margin-bottom: 0px;
    max-height: 600px;
  }
}
@media only screen and (max-width: calc(64rem - 1px)) {
  :global(.vtex-store-components-3-x-logoImage) {
    width: 150px;
  }
}

@media only screen and (max-width: 640px) {
  .logoContainer {
    padding: 0;
  }
  .autoCompleteOuterContainer--search-bar-header :global(.vtex-input-prefix__group) {
    width: 100%;
    font-size: 12px;
  }
  .suffixWrapper--search-bar-header .searchBarIcon--search-bar-header--search {
    display: none;
  }
  .inputGroup :global(.vtex-styleguide-9-x-hideDecorators):focus {
    outline-color: var(--color-primary);
  }
  /* PdP Mobile */
  :global(.vtex-flex-layout-0-x-flexCol--product-images-container) .productImagesContainer .productImagesGallerySlide {
    width: 100% !important;
  }
  :global(.vtex-flex-layout-0-x-flexRow--pdp-main-container) .container,
  :global(.vtex-flex-layout-0-x-flexRow--breadcrumb-pdp-container) .container,
  :global(.vtex-flex-layout-0-x-flexRow--title-shelf-pdp-container) .container {
    padding: 0 20px;
    width: 100%;
  }
  :global(.vtex-flex-layout-0-x-flexRow--shelf-pdp-container) .container {
    padding: 0 13px;
    width: 100%;
  }
  :global(.vtex-flex-layout-0-x-flexRow--pdp-product-name-container) .productBrand--pdp-product-name-content {
    font-size: 25px;
    line-height: 20px;
  }
  :global(.vtex-flex-layout-0-x-flexCol--product-images-container) .caretIcon--pdp-images {
    width: 16px;
    height: 16px;
  }
  :global(.vtex-flex-layout-0-x-flexCol--product-images-container) .swiperBullet {
    background-color: var(--color-primary);
    width: 24px;
    height: 4px;
    border-radius: 0;
    opacity: unset;
  }
  :global(.vtex-flex-layout-0-x-flexCol--product-images-container) .swiperBullet--active {
    background-color: var(--color-primary);
  }
  :global(.vtex-flex-layout-0-x-flexCol--product-images-container) .swiper-pagination {
    bottom: -4px;
  }
  :global(.vtex-flex-layout-0-x-flexCol--product-images-container) .productImage--pdp-images::after {
    display: none;
  }
  :global(.vtex-flex-layout-0-x-flexCol--product-images-container) .productImageTag--pdp-images--main {
    min-height: 275px;
    object-fit: cover !important;
  }
  :global(.vtex-flex-layout-0-x-flexColChild--product-info-content) .imageElement--static-img {
    width: 100%;
    padding: 10px 0;
  }
  :global(.vtex-flex-layout-0-x-flexRow--pdp-wish-and-share-content) .shareLabel::before {
    content: '';
    background-image: url("data:image/svg+xml,%3Csvg width='14' height='14' viewBox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.2197 4.375C10.014 4.375 9.03223 3.39383 9.03223 2.1875C9.03223 0.981171 10.014 0 11.2197 0C12.4255 0 13.4072 0.981171 13.4072 2.1875C13.4072 3.39383 12.4255 4.375 11.2197 4.375ZM11.2197 0.875C10.4964 0.875 9.90723 1.46353 9.90723 2.1875C9.90723 2.91147 10.4964 3.5 11.2197 3.5C11.9431 3.5 12.5322 2.91147 12.5322 2.1875C12.5322 1.46353 11.9431 0.875 11.2197 0.875Z' fill='%2306623A'/%3E%3Cpath d='M11.2197 14C10.014 14 9.03223 13.0188 9.03223 11.8125C9.03223 10.6062 10.014 9.625 11.2197 9.625C12.4255 9.625 13.4072 10.6062 13.4072 11.8125C13.4072 13.0188 12.4255 14 11.2197 14ZM11.2197 10.5C10.4964 10.5 9.90723 11.0885 9.90723 11.8125C9.90723 12.5365 10.4964 13.125 11.2197 13.125C11.9431 13.125 12.5322 12.5365 12.5322 11.8125C12.5322 11.0885 11.9431 10.5 11.2197 10.5Z' fill='%2306623A'/%3E%3Cpath d='M2.76172 9.1875C1.55592 9.1875 0.574219 8.20633 0.574219 7C0.574219 5.79367 1.55592 4.8125 2.76172 4.8125C3.96751 4.8125 4.94922 5.79367 4.94922 7C4.94922 8.20633 3.96751 9.1875 2.76172 9.1875ZM2.76172 5.6875C2.03839 5.6875 1.44922 6.27603 1.44922 7C1.44922 7.72397 2.03839 8.3125 2.76172 8.3125C3.48505 8.3125 4.07422 7.72397 4.07422 7C4.07422 6.27603 3.48505 5.6875 2.76172 5.6875Z' fill='%2306623A'/%3E%3Cpath d='M4.28456 6.57416C4.13224 6.57416 3.9841 6.4948 3.9042 6.3537C3.78457 6.14371 3.85752 5.87647 4.06752 5.75694L9.48029 2.67105C9.68964 2.55036 9.95742 2.62384 10.0764 2.83447C10.196 3.04447 10.1231 3.3116 9.91309 3.43123L4.50032 6.51702C4.43206 6.55547 4.35804 6.57416 4.28456 6.57416Z' fill='%2306623A'/%3E%3Cpath d='M9.69709 11.3866C9.62361 11.3866 9.54948 11.3679 9.48123 11.3289L4.06844 8.24305C3.85845 8.12353 3.78561 7.85629 3.90513 7.6463C4.02412 7.43577 4.29136 7.36282 4.50135 7.48298L9.91403 10.5688C10.124 10.6884 10.197 10.9555 10.0774 11.1655C9.99691 11.3073 9.84877 11.3866 9.69709 11.3866Z' fill='%2306623A'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    width: 14px;
    height: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  /* Ajustes Footer*/
  :global(.vtex-flex-layout-0-x-flexRowContent--payments-flags) .imageElement {
    margin: 12px 8px;
  }
  :global(.vtex-flex-layout-0-x-flexRowContent--payments-flags) .imageElement--first-img-grid {
    margin: 12px 8px 12px 0px;
  }
  :global(.vtex-flex-layout-0-x-flexRow--newsletter) .container,
  :global(.vtex-flex-layout-0-x-flexRow--menus-footer-container) .container,
  :global(.vtex-flex-layout-0-x-flexRow--payment-methods) .container,
  :global(.vtex-flex-layout-0-x-flexRow--payment-methods-flags) .container {
    max-width: 100%;
    padding: 0 16px;
    margin: 0;
    width: 100%;
  }
  .imageElement--logo-footer {
    margin-top: 18px;
  }
  .imageElement--image--newsletter {
    margin: 0;
  }
  .autoCompleteOuterContainer--search-bar-header :global(.vtex-input__suffix) {
    display: none;
  }
}
:global(.vtex-flex-layout-0-x-flexRow--not-found-shelf-title) .container,
:global(.vtex-flex-layout-0-x-flexRow--deals-not-found) .container {
  max-width: var(--container-max-width);
  padding: 0 5%;
}
:global(.vtex-flex-layout-0-x-flexRow--not-found-shelf) .container {
  max-width: var(--container-max-width);
  padding: 0 calc(5% - 20px);
}
@media only screen and (max-width: 320px) {
  .imageElement--image--newsletter {
    margin-left: 0;
    margin-top: 1rem;
  }
  .newsletter-input-phone--input {
    margin-top: 8px;
  }
  .imageElement--logo-footer {
    margin-top: 1rem;
  }
}
@media (min-width: 64rem) and (max-width: 1180px) {
  :global(.vtex-flex-layout-0-x-flexCol--product-images-container) .productImagesContainer .productImagesGallerySlide {
    width: 100%;
    max-width: 350px;
  }
  :global(.vtex-flex-layout-0-x-flexCol--product-images-container) .productImagesContainer {
    max-width: 350px;
  }
}
@media (min-width: 64rem) {
  :global(.vtex-flex-layout-0-x-flexCol--product-images-container) .swiperCaret--pdp-images,
  :global(.vtex-flex-layout-0-x-flexCol--product-images-container) .swiper-pagination {
    display: none;
  }
}
@media (min-width: 1441px) {
  :global(.vtex-flex-layout-0-x-flexRow--not-found-shelf-title) .container,
  :global(.vtex-flex-layout-0-x-flexRow--deals-not-found) .container {
    padding: 0;
  }

  :global(.vtex-flex-layout-0-x-flexRow--not-found-shelf) .container {
    max-width: 1480px;
    padding: 0;
  }
}

.flexRowContent--midias-footer .stretchChildrenWidth {
  width: 100%;
}

.imageElement--instagram-footer {
  margin-left: 1rem;
}

@media (max-width: calc(64rem - 1px)) {
  .suffixWrapper--search-bar-header .searchBarIcon--search-bar-header--search {
    display: none;
  }
}

:global(.vtex-flex-layout-0-x-flexCol--flex-dropdown-pdp) .productDescriptionTitle {
  display: none;
}

:global(.vtex-flex-layout-0-x-flexColChild--product-info-content) .skuSelectorContainer {
  display: flex;
}

:global(.vtex-flex-layout-0-x-flexColChild--product-info-content) .skuSelectorSubcontainer:first-child {
  margin-right: 3rem;
}

:global(.vtex-flex-layout-0-x-flexColChild--product-info-content) .skuSelectorName {
  font-size: 20px;
  font-weight: bold;
  color: #4d4a48;
}

@media (max-width: calc(64rem - 1px)) {
  :global(.vtex-flex-layout-0-x-flexColChild--product-info-content) .skuSelectorContainer {
    max-height: 200px !important;
  }
}

@media (min-width: 64rem) {
  :global(.vtex-flex-layout-0-x-flexColChild--product-info-content) .skuSelectorContainer {
    max-height: 80px;
    margin-bottom: 0;
  }
}
