.cartIcon {
  display: none;
}
.minicartContainer :global(.vtex-button__label) {
  padding: 0;
}
.minicartContainer :global(.vtex-button) {
  display: flex;
  align-items: center;
  gap: 0.3rem;
}
.minicartContainer :global(.vtex-button)::before {
  content: '';
  display: block;
  -webkit-mask: url("data:image/svg+xml,%0A%3Csvg width='24' height='25' viewBox='0 0 24 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='icons / shopping-cart'%3E%3Cpath id='Mask' fill-rule='evenodd' clip-rule='evenodd' d='M19 18.6606C17.344 18.6606 16 20.0033 16 21.6606C16 23.318 17.344 24.6606 19 24.6606C20.656 24.6606 22 23.318 22 21.6606C22 20.0033 20.656 18.6606 19 18.6606ZM19 20.394C19.6973 20.394 20.2667 20.962 20.2667 21.6606C20.2667 22.3593 19.6973 22.9273 19 22.9273C18.3027 22.9273 17.7333 22.3593 17.7333 21.6606C17.7333 20.962 18.3027 20.394 19 20.394ZM8.33333 18.6606C6.67733 18.6606 5.33333 20.0033 5.33333 21.6606C5.33333 23.318 6.67733 24.6606 8.33333 24.6606C9.98933 24.6606 11.3333 23.318 11.3333 21.6606C11.3333 20.0033 9.98933 18.6606 8.33333 18.6606ZM8.33333 20.394C9.03067 20.394 9.6 20.962 9.6 21.6606C9.6 22.3593 9.03067 22.9273 8.33333 22.9273C7.636 22.9273 7.06667 22.3593 7.06667 21.6606C7.06667 20.962 7.636 20.394 8.33333 20.394ZM5.97067 6.99398L7.44267 14.7233C7.472 14.8806 7.60933 14.994 7.76933 14.994H19.6867C19.8453 14.994 19.9813 14.882 20.0133 14.726L21.56 6.99398H5.97067ZM19.6867 16.994H7.76933C6.65067 16.994 5.688 16.1953 5.47733 15.0966L3.172 2.66064H0V0.660645H4.828L5.588 4.99398H24L21.9733 15.118C21.7573 16.2046 20.796 16.994 19.6867 16.994Z' fill='black'/%3E%3Cmask id='mask0_124_5567' style='mask-type:luminance' maskUnits='userSpaceOnUse' x='0' y='0' width='24' height='25'%3E%3Cpath id='Mask_2' fill-rule='evenodd' clip-rule='evenodd' d='M19 18.6606C17.344 18.6606 16 20.0033 16 21.6606C16 23.318 17.344 24.6606 19 24.6606C20.656 24.6606 22 23.318 22 21.6606C22 20.0033 20.656 18.6606 19 18.6606ZM19 20.394C19.6973 20.394 20.2667 20.962 20.2667 21.6606C20.2667 22.3593 19.6973 22.9273 19 22.9273C18.3027 22.9273 17.7333 22.3593 17.7333 21.6606C17.7333 20.962 18.3027 20.394 19 20.394ZM8.33333 18.6606C6.67733 18.6606 5.33333 20.0033 5.33333 21.6606C5.33333 23.318 6.67733 24.6606 8.33333 24.6606C9.98933 24.6606 11.3333 23.318 11.3333 21.6606C11.3333 20.0033 9.98933 18.6606 8.33333 18.6606ZM8.33333 20.394C9.03067 20.394 9.6 20.962 9.6 21.6606C9.6 22.3593 9.03067 22.9273 8.33333 22.9273C7.636 22.9273 7.06667 22.3593 7.06667 21.6606C7.06667 20.962 7.636 20.394 8.33333 20.394ZM5.97067 6.99398L7.44267 14.7233C7.472 14.8806 7.60933 14.994 7.76933 14.994H19.6867C19.8453 14.994 19.9813 14.882 20.0133 14.726L21.56 6.99398H5.97067ZM19.6867 16.994H7.76933C6.65067 16.994 5.688 16.1953 5.47733 15.0966L3.172 2.66064H0V0.660645H4.828L5.588 4.99398H24L21.9733 15.118C21.7573 16.2046 20.796 16.994 19.6867 16.994Z' fill='white'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_124_5567)'%3E%3Cg id='colors / c-on-base'%3E%3Crect id='Rectangle 4' x='-20' y='-18.0059' width='64' height='64' fill='currentColor'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A")
    no-repeat 50% 50%;
  mask: url("data:image/svg+xml,%0A%3Csvg width='24' height='25' viewBox='0 0 24 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='icons / shopping-cart'%3E%3Cpath id='Mask' fill-rule='evenodd' clip-rule='evenodd' d='M19 18.6606C17.344 18.6606 16 20.0033 16 21.6606C16 23.318 17.344 24.6606 19 24.6606C20.656 24.6606 22 23.318 22 21.6606C22 20.0033 20.656 18.6606 19 18.6606ZM19 20.394C19.6973 20.394 20.2667 20.962 20.2667 21.6606C20.2667 22.3593 19.6973 22.9273 19 22.9273C18.3027 22.9273 17.7333 22.3593 17.7333 21.6606C17.7333 20.962 18.3027 20.394 19 20.394ZM8.33333 18.6606C6.67733 18.6606 5.33333 20.0033 5.33333 21.6606C5.33333 23.318 6.67733 24.6606 8.33333 24.6606C9.98933 24.6606 11.3333 23.318 11.3333 21.6606C11.3333 20.0033 9.98933 18.6606 8.33333 18.6606ZM8.33333 20.394C9.03067 20.394 9.6 20.962 9.6 21.6606C9.6 22.3593 9.03067 22.9273 8.33333 22.9273C7.636 22.9273 7.06667 22.3593 7.06667 21.6606C7.06667 20.962 7.636 20.394 8.33333 20.394ZM5.97067 6.99398L7.44267 14.7233C7.472 14.8806 7.60933 14.994 7.76933 14.994H19.6867C19.8453 14.994 19.9813 14.882 20.0133 14.726L21.56 6.99398H5.97067ZM19.6867 16.994H7.76933C6.65067 16.994 5.688 16.1953 5.47733 15.0966L3.172 2.66064H0V0.660645H4.828L5.588 4.99398H24L21.9733 15.118C21.7573 16.2046 20.796 16.994 19.6867 16.994Z' fill='black'/%3E%3Cmask id='mask0_124_5567' style='mask-type:luminance' maskUnits='userSpaceOnUse' x='0' y='0' width='24' height='25'%3E%3Cpath id='Mask_2' fill-rule='evenodd' clip-rule='evenodd' d='M19 18.6606C17.344 18.6606 16 20.0033 16 21.6606C16 23.318 17.344 24.6606 19 24.6606C20.656 24.6606 22 23.318 22 21.6606C22 20.0033 20.656 18.6606 19 18.6606ZM19 20.394C19.6973 20.394 20.2667 20.962 20.2667 21.6606C20.2667 22.3593 19.6973 22.9273 19 22.9273C18.3027 22.9273 17.7333 22.3593 17.7333 21.6606C17.7333 20.962 18.3027 20.394 19 20.394ZM8.33333 18.6606C6.67733 18.6606 5.33333 20.0033 5.33333 21.6606C5.33333 23.318 6.67733 24.6606 8.33333 24.6606C9.98933 24.6606 11.3333 23.318 11.3333 21.6606C11.3333 20.0033 9.98933 18.6606 8.33333 18.6606ZM8.33333 20.394C9.03067 20.394 9.6 20.962 9.6 21.6606C9.6 22.3593 9.03067 22.9273 8.33333 22.9273C7.636 22.9273 7.06667 22.3593 7.06667 21.6606C7.06667 20.962 7.636 20.394 8.33333 20.394ZM5.97067 6.99398L7.44267 14.7233C7.472 14.8806 7.60933 14.994 7.76933 14.994H19.6867C19.8453 14.994 19.9813 14.882 20.0133 14.726L21.56 6.99398H5.97067ZM19.6867 16.994H7.76933C6.65067 16.994 5.688 16.1953 5.47733 15.0966L3.172 2.66064H0V0.660645H4.828L5.588 4.99398H24L21.9733 15.118C21.7573 16.2046 20.796 16.994 19.6867 16.994Z' fill='white'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_124_5567)'%3E%3Cg id='colors / c-on-base'%3E%3Crect id='Rectangle 4' x='-20' y='-18.0059' width='64' height='64' fill='currentColor'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A")
    no-repeat 50% 50%;
  -webkit-mask-size: cover;
  mask-size: cover;
  width: 28px;
  height: 28px;
  background-color: currentColor;
}
@media (min-width: 64rem) {
  .minicartContainer :global(.vtex-button)::after {
    content: 'Carrinho';
    font-size: 1rem;
    font-weight: 600;
    text-transform: none;
  }
}
.openIconContainer {
  padding: 12px 0;
}
.minicartQuantityBadgeDefault {
  top: -20px !important;
  right: 0 !important;
}
@media only screen and (max-width: 640px) {
  .openIconContainer {
    margin: 0;
  }
  .minicartContainer :global(.vtex-button) {
    margin: 0 11px;
  }
}
.minicartCheckoutButton {
  padding-bottom: 75px;
}

:global(.vtex-product-list-0-x-productPrice) {
  font-size: 20px;
  color: var(--color-primary);
}

:global(.vtex-product-list-0-x-inputContainer) {
  padding: 0;
  width: 4rem;
}

:global(.vtex-checkout-summary-0-x-summaryItemContainer),
:global(.vtex-checkout-summary-0-x-summaryItemLabel) {
  color: var(--color-primary);
}

:global(.vtex-checkout-summary-0-x-summarySmallDisclaimer) {
  color: #a1a8b3;
}

/* 
.cartIcon {
  display: none;
}
.minicartWrapperContainer {
  justify-content: center;
  margin: 0 1rem;
}
.minicartIconContainer {
  height: 25px;
  width: 5px;
}
.minicartContainer :global(.vtex-button) {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background-image: url('https://bravtexeletrostore.vtexassets.com/arquivos/shopping-cart.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 28px;
  height: 28px;
}
@media (min-width: 64.1rem) {
  .minicartContainer :global(.vtex-button)::after {
    content: 'Carrinho';
    margin-left: 0.5rem;
    color: var(--color-primary);
  }
}
.openIconContainer {
  padding: 12px 0;
}
.minicartQuantityBadgeDefault {
  color: #fff7f2;
  background: var(--color-primary);
  right: 4px;
  top: -10px;
  width: 12px;
  height: 12px;
  font-size: 0.65rem !important;
}
@media only screen and (min-width: 641px) {
  .openIconContainer::after {
    max-width: 50px;
    display: inline-flex;
    vertical-align: middle;
    padding-left: 8px;
    font-size: 14px;
    font-weight: bold;
    color: var(--color-primary);
    white-space: nowrap;
  }
}
@media only screen and (max-width: 640px) {
  .openIconContainer {
    margin: 0;
  }
  .minicartContainer :global(.vtex-button) {
    margin: 0 11px;
  }
}
.minicartCheckoutButton {
  padding-bottom: 75px;
}

:global(.vtex-product-list-0-x-productPrice) {
  font-size: 20px;
  color: var(--color-primary);
}

:global(.vtex-product-list-0-x-inputContainer) {
  padding: 0;
  width: 4rem;
}

:global(.vtex-checkout-summary-0-x-summaryItemContainer),
:global(.vtex-checkout-summary-0-x-summaryItemLabel) {
  color: var(--color-primary);
}

:global(.vtex-checkout-summary-0-x-summarySmallDisclaimer) {
  color: #a1a8b3;
} */
