:global(.vtex-login-2-x-container) {
  z-index: 2;
  justify-content: center;
  margin-left: 1rem;
}
:global(.vtex-login-2-x-container) :global(.vtex-button__label):before {
  content: '';
  -webkit-mask: url("data:image/svg+xml,%0A%3Csvg width='24' height='25' viewBox='0 0 24 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='icons / user'%3E%3Cpath id='Fill 1' fill-rule='evenodd' clip-rule='evenodd' d='M14.276 0.660645H9.724C7.73733 0.660645 6.192 2.38731 6.412 4.36198L7.004 9.69531C7.192 11.3833 8.61867 12.6606 10.316 12.6606H13.684C15.3813 12.6606 16.808 11.3833 16.996 9.69531L17.588 4.36198C17.808 2.38731 16.2613 0.660645 14.276 0.660645ZM14.276 2.66064C14.7947 2.66064 15.1213 2.93931 15.2693 3.10464C15.4173 3.27131 15.6573 3.62598 15.6013 4.14064L15.008 9.47398C14.9333 10.1513 14.3627 10.6606 13.684 10.6606H10.316C9.63733 10.6606 9.06667 10.1513 8.99067 9.47398L8.39867 4.14064C8.34133 3.62598 8.58133 3.27131 8.73067 3.10464C8.87867 2.93931 9.20533 2.66064 9.724 2.66064H14.276ZM18.6827 15.994H5.31733C2.21067 15.994 0 18.298 0 21.7366C0 24.098 1.044 24.6606 2.69333 24.6606H21.3053C23.24 24.6606 24 23.53 24 21.7366C24 18.302 21.7893 15.994 18.6827 15.994ZM18.6827 17.994C19.6213 17.994 20.4893 18.374 21.128 19.062C21.7653 19.7513 22.0053 20.4473 22.0053 21.5833C22.0053 22.2046 21.8453 22.6606 21.3053 22.6606H2.69333C2.29733 22.6606 1.99467 22.35 1.99467 21.5833C1.99467 20.626 2.23333 19.7513 2.872 19.062C3.51067 18.374 4.37867 17.994 5.31733 17.994H18.6827Z' fill='%23142032'/%3E%3Cmask id='mask0_124_5535' style='mask-type:luminance' maskUnits='userSpaceOnUse' x='0' y='0' width='24' height='25'%3E%3Cpath id='Fill 1_2' fill-rule='evenodd' clip-rule='evenodd' d='M14.276 0.660645H9.724C7.73733 0.660645 6.192 2.38731 6.412 4.36198L7.004 9.69531C7.192 11.3833 8.61867 12.6606 10.316 12.6606H13.684C15.3813 12.6606 16.808 11.3833 16.996 9.69531L17.588 4.36198C17.808 2.38731 16.2613 0.660645 14.276 0.660645ZM14.276 2.66064C14.7947 2.66064 15.1213 2.93931 15.2693 3.10464C15.4173 3.27131 15.6573 3.62598 15.6013 4.14064L15.008 9.47398C14.9333 10.1513 14.3627 10.6606 13.684 10.6606H10.316C9.63733 10.6606 9.06667 10.1513 8.99067 9.47398L8.39867 4.14064C8.34133 3.62598 8.58133 3.27131 8.73067 3.10464C8.87867 2.93931 9.20533 2.66064 9.724 2.66064H14.276ZM18.6827 15.994H5.31733C2.21067 15.994 0 18.298 0 21.7366C0 24.098 1.044 24.6606 2.69333 24.6606H21.3053C23.24 24.6606 24 23.53 24 21.7366C24 18.302 21.7893 15.994 18.6827 15.994ZM18.6827 17.994C19.6213 17.994 20.4893 18.374 21.128 19.062C21.7653 19.7513 22.0053 20.4473 22.0053 21.5833C22.0053 22.2046 21.8453 22.6606 21.3053 22.6606H2.69333C2.29733 22.6606 1.99467 22.35 1.99467 21.5833C1.99467 20.626 2.23333 19.7513 2.872 19.062C3.51067 18.374 4.37867 17.994 5.31733 17.994H18.6827Z' fill='white'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_124_5535)'%3E%3Cg id='colors / c-on-base'%3E%3Crect id='Rectangle 4' x='-20' y='-19.3394' width='64' height='64' fill='currentColor'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A")
    no-repeat 50% 50%;
  mask: url("data:image/svg+xml,%0A%3Csvg width='24' height='25' viewBox='0 0 24 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='icons / user'%3E%3Cpath id='Fill 1' fill-rule='evenodd' clip-rule='evenodd' d='M14.276 0.660645H9.724C7.73733 0.660645 6.192 2.38731 6.412 4.36198L7.004 9.69531C7.192 11.3833 8.61867 12.6606 10.316 12.6606H13.684C15.3813 12.6606 16.808 11.3833 16.996 9.69531L17.588 4.36198C17.808 2.38731 16.2613 0.660645 14.276 0.660645ZM14.276 2.66064C14.7947 2.66064 15.1213 2.93931 15.2693 3.10464C15.4173 3.27131 15.6573 3.62598 15.6013 4.14064L15.008 9.47398C14.9333 10.1513 14.3627 10.6606 13.684 10.6606H10.316C9.63733 10.6606 9.06667 10.1513 8.99067 9.47398L8.39867 4.14064C8.34133 3.62598 8.58133 3.27131 8.73067 3.10464C8.87867 2.93931 9.20533 2.66064 9.724 2.66064H14.276ZM18.6827 15.994H5.31733C2.21067 15.994 0 18.298 0 21.7366C0 24.098 1.044 24.6606 2.69333 24.6606H21.3053C23.24 24.6606 24 23.53 24 21.7366C24 18.302 21.7893 15.994 18.6827 15.994ZM18.6827 17.994C19.6213 17.994 20.4893 18.374 21.128 19.062C21.7653 19.7513 22.0053 20.4473 22.0053 21.5833C22.0053 22.2046 21.8453 22.6606 21.3053 22.6606H2.69333C2.29733 22.6606 1.99467 22.35 1.99467 21.5833C1.99467 20.626 2.23333 19.7513 2.872 19.062C3.51067 18.374 4.37867 17.994 5.31733 17.994H18.6827Z' fill='%23142032'/%3E%3Cmask id='mask0_124_5535' style='mask-type:luminance' maskUnits='userSpaceOnUse' x='0' y='0' width='24' height='25'%3E%3Cpath id='Fill 1_2' fill-rule='evenodd' clip-rule='evenodd' d='M14.276 0.660645H9.724C7.73733 0.660645 6.192 2.38731 6.412 4.36198L7.004 9.69531C7.192 11.3833 8.61867 12.6606 10.316 12.6606H13.684C15.3813 12.6606 16.808 11.3833 16.996 9.69531L17.588 4.36198C17.808 2.38731 16.2613 0.660645 14.276 0.660645ZM14.276 2.66064C14.7947 2.66064 15.1213 2.93931 15.2693 3.10464C15.4173 3.27131 15.6573 3.62598 15.6013 4.14064L15.008 9.47398C14.9333 10.1513 14.3627 10.6606 13.684 10.6606H10.316C9.63733 10.6606 9.06667 10.1513 8.99067 9.47398L8.39867 4.14064C8.34133 3.62598 8.58133 3.27131 8.73067 3.10464C8.87867 2.93931 9.20533 2.66064 9.724 2.66064H14.276ZM18.6827 15.994H5.31733C2.21067 15.994 0 18.298 0 21.7366C0 24.098 1.044 24.6606 2.69333 24.6606H21.3053C23.24 24.6606 24 23.53 24 21.7366C24 18.302 21.7893 15.994 18.6827 15.994ZM18.6827 17.994C19.6213 17.994 20.4893 18.374 21.128 19.062C21.7653 19.7513 22.0053 20.4473 22.0053 21.5833C22.0053 22.2046 21.8453 22.6606 21.3053 22.6606H2.69333C2.29733 22.6606 1.99467 22.35 1.99467 21.5833C1.99467 20.626 2.23333 19.7513 2.872 19.062C3.51067 18.374 4.37867 17.994 5.31733 17.994H18.6827Z' fill='white'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_124_5535)'%3E%3Cg id='colors / c-on-base'%3E%3Crect id='Rectangle 4' x='-20' y='-19.3394' width='64' height='64' fill='currentColor'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A")
    no-repeat 50% 50%;
  -webkit-mask-size: cover;
  mask-size: cover;
  padding: 0;
  height: 26px;
  width: 26px;
  margin-top: 0;
  background-color: currentColor;
}
:global(.vtex-login-2-x-label) {
  font-size: 1rem;
  color: var(--color-primary);
  text-align: left;
  text-transform: none;
  font-weight: 600;
}
div[class*='vtex-login-2-x-container'] :global(.vtex-button__label) {
  padding: 0 !important;
}
h3[class*='vtex-login-2-x-formTitle'] {
  text-align: start;
  border-bottom: 1px solid #dddddd;
  border-radius: 0;
  padding-bottom: 20px;
}
div[class*='vtex-login-2-x-accessCodeOptionBtn'] button:global(.vtex-button) div[class*='vtex-button__label'],
div[class*='vtex-login-2-x-emailPasswordOptionBtn'] button:global(.vtex-button) div[class*='vtex-button__label'] {
  padding: 0;
}
div[class*='vtex-login-2-x-accessCodeOptionBtn'] button:global(.vtex-button),
div[class*='vtex-login-2-x-emailPasswordOptionBtn'] button:global(.vtex-button) {
  border: 1px solid #ccc6c0;
  background-color: #ffffff;
  color: #000000;
  text-transform: none;
}
div[class*='vtex-login-2-x-emailPasswordOptionBtn'] button:global(.vtex-button):hover {
  border: 1px solid var(--color-primary);
  background-color: var(--color-primary);
  color: var(--color-primary);
}
div[class*='vtex-login-2-x-options'] {
  min-width: 17rem;
}
div[class*='vtex-login-2-x-arrowUp'] {
  width: 1.5rem;
}
span[class*='vtex-login-2-x-profile'] {
  white-space: nowrap;
  text-transform: initial;
  text-align: start;
  color: var(--color-primary);
  font-size: 1rem;
}
@media screen and (min-width: 1025px) {
  .container :global(.vtex-button):focus {
    background: transparent;
  }
}

.formTitle {
  text-align: center !important;
  font-size: 18px;
  font-weight: bold;
}

.accessCodeOptionBtn :global(.vtex-button) {
  border: none !important;
  color: var(--color-primary) !important;
  font-size: 14px;
}

.emailPasswordOptionBtn :global(.vtex-button) {
  background-color: var(--color-primary) !important;
  color: white !important;
  font-weight: bold;
  text-transform: uppercase !important;
  border: 1px solid var(--color-primary) !important;
  font-size: 14px;
}
