.sliderLayoutContainer {
  flex-wrap: wrap;
  justify-content: end;
}
@media (max-width: 1025px) {
  .sliderLayoutContainer--carousel {
    max-width: var(--container-max-width);
    padding: 0 5px;
  }
}
.imageElement--carousel {
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}
.imageElementLink {
  line-height: 0;
}
.paginationDotsContainer {
  z-index: 1;
}
.slideChildrenContainer--shelf,
.slideChildrenContainer--category-cards {
  padding: 1rem 0;
}
.layoutContainer--shelf,
.layoutContainer--category-cards {
  margin-top: 20px;
  margin-bottom: 20px;
  max-width: 96rem;
}
:global(.vtex-shelf-1-x-arrow),
.sliderArrows,
.sliderArrows {
  background: #fff !important;
  width: 32px;
  height: 32px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 50%;
  padding: 10px;
  transition: all 0.3s ease;
  z-index: 1;
}
:global(.vtex-shelf-1-x-arrow):hover,
.sliderArrows:hover,
.sliderArrows:hover {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
}
:global(.vtex-shelf-1-x-arrow):active,
.sliderArrows:active,
.sliderArrows:active {
  background-color: #cacbcc !important;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
}
.sliderArrows--shelf,
.sliderArrows--category-cards {
  position: relative;
}
.sliderTrackContainer--shelf,
.sliderTrackContainer--category-cards {
  order: 1;
}
.sliderTrack--comparison-drawer {
  padding: 0.3rem 0;
}
.sliderArrows--carousel {
  opacity: 0.5;
}
.caretIcon,
.caretIcon {
  color: var(--color-primary);
  width: 12px;
  height: 12px;
}
/*wishlist*/
.slideChildrenContainer--shelf-wishlist-slider-main {
  border-right: 1px solid #f1efed;
}
.slideChildrenContainer--shelf-wishlist-slider-main :global(.vtex-product-summary-2-x-containerNormal) {
  max-width: 200px !important;
}
.imageElement--carousel-departament {
  max-width: 991px;
}
.slide--not-found-shelf {
  max-width: 224px;
}
.sliderLayoutContainer--not-found-shelf {
  padding: 0 10px !important;
}
.sliderArrows--not-found-shelf {
  background: #fff !important;
  box-shadow: 0px 0px 1px rgba(86, 115, 101, 0.15), 0px 2px 4px rgba(86, 115, 101, 0.15);
  border-radius: 20px;
  color: var(--color-primary);
  width: 40px;
  height: 40px;
  position: absolute;
  margin: 0;
}
.sliderLeftArrow--not-found-shelf {
  left: -30px;
}
.sliderRightArrow--not-found-shelf {
  right: -30px;
}
.caretIcon--not-found-shelf {
  width: 12px;
  height: 12px;
}
